:root .theme_light {
  --accent-color: #353430;
  --heading-сolor: #353430;
  --text-color: #353430;
  --logo-color: #ffc2e6;
  --bg-type: url(/images/cover-image-light.png);
  --bg-text: #ff8dcb;
  --hover-color: rgb(50, 49, 45, 0.5);
  --shadow-color: #ff8dcb;
  --uniq-shadow: #ff0070;
}
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --heading-сolor: #353430;
    --text-color: #353430;
    --logo-color: #ffc2e6;
    --bg-type: url(/images/cover-image-light.png);
    --bg-text: #ff8dcb;
    --hover-color: rgb(50, 49, 45, 0.5);
    --shadow-color: #ff8dcb;
    --uniq-shadow: #ff0070;
  }
}
.page.theme_light {
}
